/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


/* CSS variables */
/* root sudo class makes css variabes globally accessible to the entire css file*/
:root {
    --primary-font: "verdana", sans-serif;
    --secondary-font: "Roboto Flex", "cursive";
    --primary-color: #191825;
    /* Navy blue */
    --secondary-color: white;
    /* light grey */
    --highlight-color: #e489b5;
    /* highlight color */
    --highlight-color-light: #d99dd0;
    /* light teal */
}


/* Global Styles */

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    /* font family is inter */
    padding-top: 77px;
}

h1,
h2,
h3 {
    padding: 1rem;
    font-family: var(--secondary-font);
}





section {
    color: white;
    padding: 5rem;
}


.container h2 {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 5px;
}



/* Buttons */

.custom-button-filled {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.custom-button-filled:hover {
    border: 2px solid var(--highlight-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.custom-button-outline  {
    border: 2px solid var(--highlight-color-light);
    background-color: none;
    color: white;
}

.custom-button-outline:hover {
    border: 2px solid var(--highlight-color-light );
    background-color: var(--highlight-color-light);
    color: var(--primary-color);
}




/* Grid visualising CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}  */



/* Nav bar */


nav {
    box-shadow: 0 4px 2px -2px var(--primary-color);
}

nav a:hover {
    font-weight: bold;
}

nav a.active {
    font-weight: bold;
}

#navbar .logo {
    width: 50px;
    height: 50px;
}

.nav-item {
    font-family: var(--secondary-font);
}


/* Hero section  */

/* Hero Section Background Image */
#hero {
    background: url('../images/hero.jpg') no-repeat center center;

    background-size: cover;
    background-position: 50% 70%;
    min-height: 200px;
    padding: 5% 7%;
    position: relative;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust overlay color and opacity */
    z-index: 1;
}

#hero h1,
img,
p,
.custom-button-filled {
    position: relative;
    z-index: 1;
}


/* Key principles */

.accordion {
    --bs-accordion-color: white;
    --bs-accordion-btn-bg: var(--primary-color);
    --bs-accordion-btn-color: white;
    --bs-accordion-active-bg: var(--primary-color);
    --bs-accordion-active-color: white;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-bg:  var(--primary-color);
    
    
    
}

.accordion-button.collapsed::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  
  .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }


/* Responding to concerns */

#responding-to-concerns h5{
    color: white;
}



/* Contact */


#contact .submit {
    color: var(--primary-color);
    background-color: var(--highlight-color-light);
}

#contact .submit:hover {
    border-color: var(--highlight-color);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}


/* Footer */

#footer {
    border-top: 1.5px solid var(--highlight-color);
    background-color: var(--highlight-color-light);
    box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.5); /* Shadow effect above the footer */
}



#footer h2 {
    border: none;
    color: var(--primary-color);
}


#footer .btn:hover {
    border: none;
    background-color: var(--primary-color);
    color: var(--highlight-color-light);
    
}

/* Media Queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* make all service cards the same height for consistency */
  #resources p {
    min-height: 75px;
  }
 
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    /* make all service cards the same height for consistency */

 
}

/* Extra Large devices (large laptops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* make all service cards the same height for consistency */
  
}

/* Extra extra Large devices (large laptops, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* make all service cards the same height for consistency */
 

}









